<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container">
    <div th:if="${success}"
         class="row-md-12 alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <span th:text="${success}"></span>
    </div>
    <div class="row row-sm-12">
        <div class="col-sm-2 float-right">
            <a th:href="@{/student/create}" class="btn btn-success pull-left">
                <span class="glyphicon glyphicon-plus"></span> Add new employee
            </a>
        </div>
        <div class="col-sm-2 float-right">
            <a th:href="@{/download/file}" class="btn btn-primary pull-left">
                <span class="glyphicon glyphicon-plus"></span> Download File
            </a>
<!--            <button class="btn btn-outline-success" id="btn-download" data-target="/download/file"><i class="fa fa-download"></i> Download</button>-->
        </div>
        <div class="col-8 float-right">
            <form class="form-inline" action="#"
                  th:action="@{/student/search}" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" name="s"
                           placeholder="Type employee name..."/>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    <th:block th:if="${#lists.isEmpty(student)}">
        <h3>No employee</h3>
    </th:block>

    <th:block th:unless="${#lists.isEmpty(student)}">
        <div class="row-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact,iterStat : ${student}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${contact.name}"></td>
                    <td th:text="${contact.age}"></td>
                    <td th:text="${contact.gender}"></td>
                    <td><a th:href="@{/student/{id}/edit(id=${contact.id})}">Edit</a></td>
                    <td><a th:href="@{/student/{id}/delete(id=${contact.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${totalPages > 1}" class="row row-md-12 row-sm-12">
            <nav aria-label="Page navigation example">
                <div class="page-item">
                    Total Rows: [[${totalItems}]]
                </div>
                <ul class="pagination">
                    <li class="page-item">
                        <a th:if="${currentPage <= totalPages && currentPage - 1 > 0 }"
                           th:href="@{'/student/page/' + ${currentPage-1} }"
                           class="page-link" tabindex="-1">Previous</a>
                    </li>

                    <div th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <div th:if="${currentPage != i}">
                            <li class="page-item">
                                <a class="page-link" th:href="@{'/student/page/' + ${i}}">[[${i}]]</a>
                            </li>
                        </div>
                        <li class="page-item active "><span class="page-link"
                                                            th:unless="${currentPage != i}">[[${i}]]</span></li>
                    </div>

                    <li class="page-item">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/student/page/' + ${currentPage + 1}}"
                           class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </th:block>
</div>
<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
<script>
    $(document).ready(()=>{
        $("#btn-download").click( () => {
             window.location.href = "/download/file";
        });
    });
</script>
</body>
</html>